:root,
::backdrop {
    --clr-p-1: #000a0f;
    --clr-p-2: #001f2e;
    --clr-p-3: #002e45;
    --clr-p-4: #006594;
    --clr-p-5: #00aeff;
    --clr-p-6: #a0e1ff;
    --clr-p-7: #f0faff;

    --spc-p-1: 10px;
    --spc-p-2: 20px;
}

html {
    padding: 0 var(--spc-p-1);
}

body {
    background-color: var(--clr-p-1);
    color: var(--clr-p-7);
    margin: 0 auto;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 1em;
    max-width: 50em;
}

header,
.sort-modal button,
.filter-modal button,
.filter-type-modal button,
.filter-city-modal button {
    margin-bottom: var(--spc-p-2);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    margin: var(--spc-p-2) 0;
    text-align: center;
}

h3,
h4,
p {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--clr-p-6);
}

li,
article {
    margin: var(--spc-p-2) 0;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--clr-p-4);
}

button {
    font: inherit;
    font-size: inherit;
    color: var(--clr-p-6);
    width: 100%;
}

.toilet {
   vertical-align: middle;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.modal-controls {
    display: flex;
}

.spc {
    margin-right: var(--spc-p-2);
}

.sort-modal:modal,
.filter-modal:modal,
.filter-type-modal:modal,
.filter-city-modal:modal {
    background-color: var(--clr-p-1);
    position: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    width: auto;
    max-width: 50em;
    border-color: var(--clr-p-1);
}

dialog::backdrop {
    background-color: var(--clr-p-1);
}

.filter-num {
    text-align: center;
}

.filter-num > span {
    display: inline-block;
    font-size: 10px;
    font-style: italic;
    color: var(--clr-p-6);
}

.common {
    padding: 0.5em;
    border: 2px solid var(--clr-p-3);
    background-color: var(--clr-p-2);
}

.name {
    display: inline;
}

.apprx-dist {
    font-family: sans-serif;
    font-style: italic;
    font-size: inherit;
    color: var(--clr-p-5);
    white-space: nowrap;
}

.arrow {
    display: inline-block;
    padding: 0;
    border: none;
    margin: 0;
    min-width: fit-content;
    min-height: fit-content;
    font-size: large;   
}

.thanks {
    font-size: .75em;
}

.under-construction {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}